@model BeautySalonApp.Models.Reservation

@{
    ViewData["Title"] = Model.Service.ServiceName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3 pb-3">
<h1>@ViewData["Title"]</h1>

<div>
    <h4>Rezerwacja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="display: none;">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10" style="display: none;">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            Data wizyty
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            Przewidywany koniec
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            Wykonujący usługę
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Employee.Name) @Html.DisplayFor(model => model.Service.Employee.Surname)
        </dd>
        <dt class="col-sm-2">
            Cena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Powrót</a>
</div>
</div>