@model IEnumerable<BeautySalonApp.Models.Salon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3 pb-3">
<h1>Salony</h1>

<form asp-action="Index" method="get" class="form-inline d-flex justify-content-center">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" name="searchString" class="form-control" placeholder="Wyszukaj po nazwie" style="width: 350px;">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" name="searchCity" class="form-control" placeholder="Wyszukaj po miejscowości" style="width: 350px;">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
</form>




<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Miasto
            </th>
            <th>
                Numer telefonu
            </th>
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool isOwner = User?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value == item.UserId;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.City)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (isOwner)
                    {
                    <a asp-action = "Delete" asp-route-id = "@item.Id" > Usuń </a> 
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>